.table {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
}

.row {
    display: flex;
    gap: 1.875rem;
    padding: 0.725rem;
    color: black;
}

.row:nth-of-type(n + 6) {
    color: white;
}

.value {
    margin-left: auto;
}
