.container {
    margin-bottom: 1rem;
}

.field {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.colours {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.colour {
    display: flex;
}

.label {
    display: inline-block;
    height: 32px;
    width: 64px;
    border: 1px solid #e6e6e6;
    border-radius: 4px 0 0 4px;
}

.input {
    visibility: hidden;
}

.remove {
    border: 1px solid #e6e6e6;
    border-radius: 0 4px 4px 0;
}

.remove svg {
    height: 100%;
}

.add svg {
    height: 100%;
}
